{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/therapy.css' %}">
{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="title" style="text-align: center; padding: 20px;">DEE PLUS Therapy</h2>

    <!-- Header -->
  <div class="container mb-5">
  <div class="row align-items-center">
    <!-- Left column: Text -->
    <div class="col-lg-6">
      
      <p class="description" style="font-size: large; line-height: 2;">
        Therapy is a process where a person works with a trained professional to explore thoughts, 
        feelings, and behaviors in order to improve mental health, cope with challenges, and promote 
        personal growth. It can include talking, practicing new skills, or using specific techniques 
        to heal, understand oneself better, or manage life more effectively.
      </p>
    </div>

    <!-- Right column: Image -->
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/therapy-home.png' %}" 
           class="img-fluid rounded service-img" 
           alt="Therapy Session">
    </div>

  </div>
</div>


    <!-- Services Section -->
<h3 class="text-center mb-4 service-title">Our Services</h3>

<div class="row g-4 text-center" >
  <div class="col-12 col-md-6 col-lg-4" style=" border-radius: 30px 0 30px 0 ;">
    <div class="service-card">
      <img src="{% static 'images/services-1.jpg' %}" class="img-fluid service-img" alt="Individual Therapy">
      
    </div>
    <p class="service-text">Individual Therapy</p>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="service-card">
      <img src="{% static 'images/couple_therapy.jpeg' %}" class="img-fluid service-img" alt="Couple Therapy">
      
    </div>
    <p class="service-text">Couple Therapy</p>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="service-card">
      <a href="{% url 'family_therapy' %}" class="text-decoration-none">
        <img src="{% static 'images/family.jpg' %}" class="img-fluid service-img" alt="Family Therapy">
        
      </a>
    </div>
    <p class="service-text">Family Therapy</p>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="service-card">
      <img src="{% static 'images/group.jpg' %}" class="img-fluid service-img" alt="Group Therapy">
      
    </div>
    <p class="service-text">Group Therapy</p>
  </div>

 

  <div class="col-12 col-md-6 col-lg-4">
    <div class="service-card">
      <img src="{% static 'images/online_therapy.jpg' %}" class="img-fluid service-img" alt="Online Therapy">
      
    </div>
      <p class="service-text">Online Therapy</p>

  </div>
</div>

{% endblock %}
